:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFF;
    --amarelo: #ca29aa;
    --roxo: #C75EEB;  
    --fonte-tamanho-padrao: 16px;  
}

body{
    background-color: var(--cor-de-fundo);
    font-size: var(--fonte-tamanho-padrao);
    font-weight: 400;
}

h1{
    background-color:  var(--branco);
}